<div id='event-container'>

  <table class='table'>
    <tr>
      <th class='participants'> Participants </th>
      <th class='event_title'> Event </th>
      <th class='host'> Host </th>
      <th class='location'> Location </th>
      <th class='date'> Date </th>
    </tr>

    <% @routes.each do |route| %>
      <tr id='event<%= route.id %>'>
        <td class='participants'><%= route.participants.count %></td>
        <td class='event_title'><a href='/routes/<%= route.id %>'><%= route.title %></a></td>
        <td class='host'><a href='/users/<%= route.creator.id %>'><%= route.creator.user_name %></a></td>
        <td class='location'><%= route.start_location_city %>, <%= route.start_location_state %></td>
        <td class='date'><%= route.date %></td>
      </tr>
    <% end %>
  </table>
</div>
