<h1>Info for Route <%= @route.id %></h1>
<p>Host: <%= User.find(@route.creator_id).user_name %></p>
<p>Date: <%= @route.date %></p>
<p>Time: <%= @route.start_time %></p>
<p>Starting Location: <%= @route.start_location_address %>, <%= @route.start_location_city %> <%= @route.start_location_state %></p>

<div id="googleMap" style="width:500px;height:380px;"></div>

<% if same_user?(@route.creator_id) %>
  <p>
    <form method='post' action='/routes/<%= @route.id %>'>
      <input type='hidden' name='_method' value='delete'>
      <input type='submit' value='Cancel Event'>
    </form>
  </p>
<% elsif is_participant?(@route.id) %>
  <p>
    <form method='post' action='/rsvps'>
      <input type='hidden' name='_method' value='delete'>
      <input type='hidden' name='route_id' value='<%= @route.id %>'>
      <input type='submit' value='Changed My Mind'>
    </form>
  </p>
<% elsif is_authenticated? %>
  <p>
    <form method='post' action='/rsvps'>
      <input type='hidden' name='route_id' value='<%= @route.id %>'>
      <input type='submit' value='Join!'>
    </form>
  </p>
<% end %>

<p><h1>Participants</h1></p>
<% @rsvps.each do |rsvp| %>
  <p><%= User.find(rsvp.participant_id).user_name %></p>
<% end %>

